<ul>
	<li><a href="/">Presentación</a></li>
	<li>Introducción
		<ul>
			<li><a href="/curso/autor.html">Autor</a></li>
			<li><a href="/curso/playintro.html">¿Qué es Play?</a></li>
		</ul>
	</li>
	<li>Primera aplicación
		<ul>
			<li><a href="/curso/primera-objetivo.html">Objetivo</a></li>
			<li><a href="/curso/instalacion.html">Instalación de play</a></li>
			<li><a href="/curso/new.html">Creación de un nuevo proyecto</a></li>
			<li><a href="/curso/mvc.html">MVC</a></li>
			<li><a href="/curso/properties.html">Simulación de properties</a></li>
			<li><a href="/curso/model.html">Modelo</a></li>
			<li><a href="/curso/controller.html">Controlador</a></li>
			<li><a href="/curso/view.html">Vista</a></li>
		</ul>
	</li>
	
	<li>Utilización de módulo
		<ul>
			<li>Secure</li>
			<li>CRUD</li>
		</ul>	
	</li>
	
	<li>Formularios</li>
	<li>Validación</li>
	<li>Ajax</li>
</ul>