#{extends 'main.html' /} 
#{set title:'Timeline' /} 

#{form @Timeline.search()}
	<input type="text" name="query" value="${query}" class="xxlarge" placeholder="Busqueda" data-bind="value:query, valueUpdate:'afterkeydown'"/>
#{/form}

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>Tweet</th>
		</tr>
	</thead>
	<tbody data-bind="template:{name : 'tweet-row', foreach:tweets}">

	</tbody>
</table>


<script type="text/html" id="tweet-row">
		<tr>
			<td>{{= id}}</td>
			<td>{{= msg}}</td>	
		</tr>
</script>

#{set 'endScript'}
<script>
	viewModel = {
		query : ko.observable('${query}'),
		tweets : ko.observableArray([])
	}
	
	function Tweet(id, msg){
		this.id = id;
		this.msg = msg;
	}
	
	ko.dependentObservable(function() {
    	if (this.lastQueryRequest) this.lastQueryRequest.abort();
		var action = #{jsAction @Api.search(':query')/}
    	this.lastQueryRequest = $.get(action({query : this.query()}), function(data){
    		if(data.status === 'OK'){
    			var tweets = $.map(data.result, function(item){return new Tweet(item.id, item.msg);});
    			viewModel.tweets(tweets);		
    		}
    	});
	}, viewModel);
	
	ko.applyBindings(viewModel);
</script>
#{/set}